.cache
.classpath
.project
.settings/org.eclipse.core.resources.prefs
project/target/scala-2.9.1/sbt-0.11.3/cache/compile/copy-resources
project/target/scala-2.9.1/sbt-0.11.3/cache/update/inputs
project/target/scala-2.9.1/sbt-0.11.3/cache/update/output
project/target/streams/$global/compilers/$global/out
project/target/streams/$global/ivy-configuration/$global/out
project/target/streams/$global/ivy-sbt/$global/out
project/target/streams/$global/project-descriptors/$global/out
project/target/streams/$global/update/$global/out
project/target/streams/compile/$global/$global/data
project/target/streams/compile/compile-inputs/$global/out
project/target/streams/compile/compile/$global/out
project/target/streams/compile/copy-resources/$global/out
project/target/streams/compile/defined-sbt-plugins/$global/out
target/scala-2.9.2/cache/update/inputs
target/scala-2.9.2/cache/update/output
target/streams/$global/ivy-configuration/$global/out
target/streams/$global/ivy-sbt/$global/out
target/streams/$global/project-descriptors/$global/out
target/streams/$global/update/$global/out
